:root {
  --color-primary: #4d0011;
  --color-secondary: #0f0f0f;
  --color-black-pure: #000000;
  --color-accent: #c8a45d;
  --color-accent-soft: #e2c68a;
  --color-neutral-light: #ffffff;
  --color-neutral-muted: #d6d6d6;
  --color-gray-dark: #1e1e1e;

  --font-primary: "Belleza", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --transition-default: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
