:root {
  --color-primary: #4d0011;
  --color-secondary: #1b120b;
  --color-black-pure: #000000;
  --color-accent: #ffde59;
  --color-neutral-light: #ffffff;
  --color-neutral-muted: #f9f0e5;
  --color-gray-dark: #2a1e17;

  --font-primary: "Belleza", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --transition-default: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
